/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

/*
head {
  font-size: 30px;
  color: grey;
  flex;
  flex-direction: center;
} */

body {
  font-size: 16px;
  line-height: 18px;
}

header {
  font-size: 2em;
  line-height: 2.2em;
  padding-bottom: .25em;
}

.h-card {
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 1em;
}

#work,
#education {
  font-size: 2.2em;
  line-height: 1em;
  padding-bottom: .5em;
}

.workplace,
.community-college,
.university  {
  padding-top: .25em;
  font-size: .7em;
  line-height: 1em;
  padding-bottom: .5em;
}

.workdescription,
.associates-degree,
.bachelors-degree {
  font-size: .6em;
  line-height: 1em;
  padding-bottom: .5em;
}

.yearsexperience,
.college-time,
.university-time {
  font-size: .5em;
  line-height: 1em;
  padding-bottom: 1em;
}

#navigation {
  font-size: 1.2em;
  line-height: 1.2em;
}

#about-me {
  font-size: 2em;
  line-height: 1.5em;
  
}

#about-me-body {
  font-size: .8em;
  line-height: 1em;
}
